body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f1f1f1;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 300px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

input[type="email"],
input[type="password"],
input[type="submit"],
button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

input[type="submit"],
button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
    background-color: #45A049;
}

p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #4CAF50;
}

.fa-lock,
.fa-envelope {
    margin-right: 10px;
}

.form-group {
    position: relative;
}

.form-group i {
    position: absolute;
    top: 12px;
    left: 10px;
    color: #999;
}

.form-group input[type="email"],
.form-group input[type="password"] {
    padding-left: 30px;
}

.form-group input[type="email"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-group input[type="password"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.form-group input[type="submit"],
.form-group button[type="submit"] {
    margin-top: 20px;
}

.form-group input[type="submit"]::before,
.form-group button[type="submit"]::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f054';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 18px;
}

.google-link {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.google-link:hover {
    background-color: #f1f1f1;
}